:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --nav-background-color: #ffffff;
  --dark-background-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --logo-color: #000000;
}

body {
  color: var(--primary-text-color);
  background-color: var(--nav-background-color);
  font-family: "Roboto", sans-serif;
}

/* hidden elements */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* studio styles */
.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px dashed red;
}

/* nav styles */
.header > .container {
  border: 1px solid #ececec;
}
.logo {
  color: var(--logo-color);

  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-header {
  color: var(--accent-color);
}
.nav-list,
.contact-list,
.footer-list {
  list-style: none;
  margin-bottom: 0;
}
.nav-list .list-item {
  color: var(--secondary-text-color);

  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.nav-list .list-item:focus,
.nav-list .list-item:hover,
.nav-list .list-item:active {
  color: var(--accent-color);
}

.mail,
.phone {
  color: var(--primary-text-color);

  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.mail:focus,
.mail:hover,
.phone:focus,
.phone:hover {
  color: var(--accent-color);
}

/* main styles */
.section-padding {
  margin-bottom: 94px;
}
/* hero styles */
.hero {
  background-color: var(--dark-background-color);

  margin-bottom: 94px;
}
.hero > .container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--nav-background-color);

  margin-top: 0;
  margin-bottom: 30px;
}
.hero-btn {
  color: var(--nav-background-color);
  background-color: var(--accent-color);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}
.hero-btn:focus,
.hero-btn:hover,
.hero-btn:active {
  background-color: var(--accent-color-hover);
}

/* Advatages styles */
.advantages-list {
  list-style: none;
  margin-top: 0;
}
.advantages-list h3 {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}
.advantages-list p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}
/* occupation styles */
.occupation h2 {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
}
.occupation ul {
  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
}
/* team styles */
.team {
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
}
.team > .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
}
.team-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
.team-list-item {
  background-color: var(--nav-background-color);
  padding-bottom: 30px;
}
.team-list-item img {
  margin-bottom: 30px;
}
.team-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 10px;
}
.team-list p {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  margin-top: 0;
}
/* footer styles */
.footer {
  background-color: var(--dark-background-color);
}
.footer > .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  color: var(--nav-background-color);
  margin-bottom: 20px;
}
.logo-footer {
  color: var(--accent-color);
}
.adress {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--nav-background-color);

  margin-top: 0;
}
.footer-list {
  margin-top: 0;
  padding-left: 0;
}
.footer-list .google-adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--nav-background-color);
}
.google-adress:focus,
.google-adress:hover {
  color: var(--accent-color);
}

/* portfolio styles */
.header-portfolio {
  margin-bottom: 94px;
}

.gallery-filter {
  list-style: none;

  margin-top: 0;
  margin-bottom: 34px;
}
.gallery-filter button {
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: 1px transparent;
}
.gallery-filter button:focus,
.gallery-filter button:hover,
.gallery-filter button:active {
  background-color: var(--accent-color);
  color: var(--nav-background-color);
}
.gallery-portfolio {
  list-style: none;
  background-color: var(--nav-background-color);

  margin-top: 0;
  margin-bottom: 0;
}
.gallery-portfolio li {
  padding-bottom: 20px;
}
.gallery-portfolio a {
  text-decoration: none;

  margin-bottom: 20px;
}
.gallery-portfolio h2 {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 0;
  margin-bottom: 4px;
}
.gallery-portfolio p {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}
